<a href="https://colab.research.google.com/github/constanza1993/coni-icaro/blob/master/Pandas4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
df=pd.DataFrame({'col': list(range(1,27)),  'col2': list(range(1,27))})
df.to_parquet('df.parquet.gzip',compression='gzip')
pd.read_parquet('df.parquet.gzip').head(3)

   col  col2
0    1     1
1    2     2
2    3     3

In [9]:
df.to_parquet('df.parquet.snappy',compression='snappy')
pd.read_parquet('df.parquet.snappy').head(3)

   col  col2
0    1     1
1    2     2
2    3     3

In [12]:
!ls -l

total 12
-rw-r--r-- 1 root root 2466 Mar  2 23:22 df.parquet.gzip
-rw-r--r-- 1 root root 2530 Mar  2 23:26 df.parquet.snappy
drwxr-xr-x 1 root root 4096 Mar  1 14:35 sample_data

In [16]:
df.to_parquet('df.parquet.patitioned',compression='snappy', partition_cols=['col'])

In [18]:
!ls -l

total 16
-rw-r--r--  1 root root 2466 Mar  2 23:22 df.parquet.gzip
drwxr-xr-x 28 root root 4096 Mar  2 23:51 df.parquet.patitioned
-rw-r--r--  1 root root 2530 Mar  2 23:26 df.parquet.snappy
drwxr-xr-x  1 root root 4096 Mar  1 14:35 sample_data

In [20]:
!cd df.parquet.patitioned && ls -l

total 104
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=1'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=10'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=11'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=12'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=13'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=14'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=15'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=16'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=17'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=18'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=19'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=2'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=20'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=21'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=22'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=23'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=24'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=25'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=26'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=3'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=4'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=5'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=6'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=7'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=8'
drwxr-xr-x 2 root root 4096 Mar  2 23:51 'col=9'

In [21]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.7/dist-packages (2.7.6.1)

In [22]:
import psycopg2
import pandas as pd
import requests
from io import StringIO

/usr/local/lib/python3.7/dist-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [23]:
conn = psycopg2.connect(host="db-test.cq4syw9xqygb.us-east-1.rds.amazonaws.com", port=5432, database="postgres", user="postgres", password="postgres")

In [24]:
cur = conn.cursor()

In [25]:
cur.execute('Select version()')

In [26]:
db_version = cur.fetchone()
print(db_version)

('PostgreSQL 12.5 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-11), 64-bit',)